<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
  <button class="btn btn-sm btn-dark" id="menu-toggle" (click)="toggleFunction()">Menu</button>
  <a class="navbar-brand" routerLink="/admin/" style="padding-left: 1%;">Admin Site</a>
</nav>
<div class="d-flex" id="wrapper">

  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <a routerLink="/admin" class="list-group-item list-group-item-action bg-light">Dashboard</a>
      <a routerLink="/admin/item" class="list-group-item list-group-item-action bg-light">Items Manager</a>
      <a routerLink="/admin/category" class="list-group-item list-group-item-action bg-light">Category Manager</a>
      <a routerLink="/admin/purchases" class="list-group-item list-group-item-action bg-light d-flex justify-content-between">Approve Purchases</a>
      <a routerLink="/" class="list-group-item list-group-item-action bg-light">Back to site</a>
      <a routerLink="/logout" class="list-group-item list-group-item-action bg-light">Log out</a>
    </div>
  </div>
  <div id="page-content-wrapper">

    <div class="container">
      <br>
      <div class="row">
        <div class="col-md-10">
          <section id="AddSubcategory">
            <form class="form-horizontal" [formGroup]="subcategoryGroup">
              <h4>{{action | titlecase}} Subcategory</h4>
              <hr/>

              <div>
                <div class="form-row parent">
                  <div class="col-md-3">
                    <label for="parentName">Category:</label>
                  </div>
                  <div class="col-md-6">
                    <input *ngIf="category" type="text" readonly class="form-control" id="parentName" formControlName="parent">
                    <select *ngIf="!category" class="form-control" id="parentName" formControlName="parent">
                      <option [ngValue]='null'>Select Category</option>
                      <option *ngFor="let c of categoryOptions" [ngValue]="c.value">{{c.name}}</option>
                    </select>
                    <span *ngIf="subcategoryGroup.controls.parent.invalid" style="color: red">Please select a parent category</span>
                  </div>
                </div>
                <br>
              </div>

              <div class="form-row">
                <div class="col-md-3">
                  <label for="name">Subcategory:</label>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" id="name" formControlName="name">
                  <span *ngIf="subcategoryGroup.controls.name.invalid" style="color: red">Please fill out this field</span>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-offset-2 col-md-10">
                  <br>
                  <button *ngIf="action==='edit'" (click)="saveSubcategory()" class="btn btn-success">Save Changes</button>
                  <button *ngIf="action==='add'" (click)="addSubcategory()"  class="btn btn-success">Add</button>
                </div>

              </div>
            </form>
          </section>


        </div>
      </div>
    </div>

  </div>
</div>
