<app-navbar></app-navbar>
<section *ngIf="profile">
  <br>
  <div class="container col-md-8">
    <h2>Profile</h2>
    <div class="row">
      <div class="col-md-2 col-4">
        <p>Username:</p>
      </div>
      <div class="col-md-6 col-8">
        <p>{{ profile.user.username }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-4">
        <p>Name:</p>
      </div>
      <div class="col-md-6 col-8">
        <p>{{ profile.first_name }} {{ profile.last_name }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-4">
        <p>Email:</p>
      </div>
      <div class="col-md-6 col-8">
        <p>{{ profile.user.email }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-4">
        <p>Birthday:</p>
      </div>
      <div class="col-md-6 col-8">
        <p>{{ profile.birthdate }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-4">
        <p>Available Money:</p>
      </div>
      <div class="col-md-6 col-8">
        <div *ngIf="profile.money!=null">
          <p>{{ profile.money }}€</p>
        </div>
        <div *ngIf="profile.money==null">
          <p>0.00€</p>
        </div>
      </div>
    </div>
    <!--
    <div class="col-2">
      <a class="btn btn-outline-dark" routerLink="/account/changepassword">Change Password</a>
    </div>
    <br>
    -->

    <div class="col-2">
        <button class="btn btn-outline-dark" (click)="logout()">Log out</button>
    </div>
    <br>
    <div class="col-2">
      <a class="btn btn-outline-danger" routerLink="/account/delete">Delete Account</a>
    </div>
  </div>
</section>
<br>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="card">
          <div class="card-header">
            Sells History
          </div>
          <div class="card-body" style="overflow:auto;max-height: 40vh">
            <table class="table table-striped">
              <tr>
                <th>Item Name</th>
                <th>Money offer</th>
                <th>Status</th>
              </tr>

                <tr  *ngFor="let row of sells">
                  <td>{{ row.item.name }}</td>
                  <td>{{ row.moneyReceived }}€</td>
                  <td *ngIf="row.pendingSell">Pending</td>
                  <td *ngIf="!row.pendingSell && row.accepted">Accepted</td>
                  <td *ngIf="!row.pendingSell && !row.accepted">Denied</td>
                </tr>
            </table>
          </div>
        </div>
        <br>
      </div>


      <div class="col-lg-6 col-12">
        <div class="card">
          <div class="card-header">
            Purchases History
          </div>
          <div class="card-body" style="overflow:auto;max-height: 40vh">
            <table class="table table-striped">
              <tr>
                <th>Item Name</th>
                <th>Price</th>
                <th>On sale</th>
              </tr>
              <tr *ngFor="let row of purchases">
                <td>{{ row.item.name }}</td>
                <td>{{ row.price }}€</td>
                <td *ngIf="row.discountedP == true">Yes</td>
                <td *ngIf="row.discountedP == false">No</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<section>
  <div class="container">
    <div class="col-lg-12 col-12">
      <div class="card">
        <div class="card-header">
          Your Comments
          <a style="align: right" routerLink="/account/comments/add/">Add Comment</a>
        </div>
        <div class="card-body" style="overflow:auto;max-height: 40vh">
          <table class="table table-striped">
            <tr>
              <th>Item Name</th>
              <th>Stars</th>
              <th>Comment</th>
            </tr>
            <tr *ngFor="let row of comments">
              <td>
                <div>
                  <a routerLink="/account/comments/edit/{{row.item.id}}">{{ row.item.name }}
                  </a>
                </div>
              </td>
              <td>{{ row.stars }}</td>
              <td> {{ row.text }} </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
